<%- include('./partials/header.ejs') %>
        
        <section class="article">
            <div id="main-content-area">

                <ul>
                    <li>
                        vyaShe boutique is a unique retail concept where our clothes are sourced from all over the world.</li>
                    <li>
                        We provide clothing exclusively for women.</li>
                    <li>
                        We offer the best quality of clothing and always stay on trend to provide our customers with a delightful experience!</li>
                    <li>
                        Customer satisfaction is always our top priority, and we will make sure of it!</li>
        
                </ul>
                    
            
                    <br> 
                </div>
            </div>
        </section>
<%- include('./partials/footer.ejs') %>