<%- include('./partials/header.ejs') %>
    <div class="content"> 
    <section class="article">
        <div id="main-content-area">
            <h2>Women's</h2>
            <div>
                New Styles<br>
                &nbsp;<br>
                Hurry!! Sale on now!!<br>
                &nbsp;<br>

                <img src="images/Design1.PNG" alt="Design1 logo" />&nbsp;
                <img src="images/Design2.PNG" alt="Design2 logo" />

                <br>
            </div>
        </div>
    </section>

</div>

<%- include('./partials/footer.ejs') %>

    